# .coveragerc to control coverage.py
[run]
branch = True
omit =
        *Test*
        */usr/local/lib*
        */__init__.py
        */venv/*
        */migrations/*
        */tests/*
        manage.py
        *wsgi.py
        *urls.py
        *apps.py
        *settings*

[report]
omit =
        *Test*
        */usr/local/lib*
        */__init__.py
        */migrations/*
        */tests/*