{% extends 'uploads/layout.html' %} {% block body %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    {{form.as_ul}}

    <div>
      {% comment %}
      <select name="formats">
        {% for key, value in format.items %}
        <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
      {% endcomment %}
    </div>

    <button class="button" type="submit" value="">convert & download</button>
  </div>
</form>

{% endblock body %}
<script></script>

{% comment %} action="{% url 'media:convert' 'v2a' %}" {% endcomment %}
