{% extends 'uploads/layout.html' %} {% block body %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    {{form.as_p}}
    <button>Upload file</button>
  </div>
</form>

<div>
  {% for i in all_video %}
  <h2>{{i.title}}</h2>

  <video width="640" height="360" controls="controls">
    <source src="{{ i.video.url }}" type="video/mp4" />
  </video>
  {% endfor %}
</div>

{% if messages %} {% for message in messages %}
  <h2>{{ message }}</h2>
  <input type="button" onclick="location.href='{% url 'media:download' %}';" value="Convert & Download" />
{% endfor %} {% endif %}
</>

{% endblock body %}
<script>

</script>
