{% extends 'uploads/layout.html' %} {% block body %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div><br>
    {{form.as_ul}}

    <div>
      <select name="presets" id="presets">
          <option value="ultrafast">ultrafast</option>
          <option value="superfast">superfast</option>
          <option value="faster">faster</option>
          <option value="medium" selected>medium</option>
          <option value="slower">slower</option>
          <option value="veryslow">veryslow</option>
        </select>
    </div> 

    <div>
       <select name="formats" id="formats">
          <option value="reduce_video">Compress video</option>
          <option value="v2a" selected>mp4 to mp3</option>
       </select>
    </div>
    <div>
    

    <button class="button" type="submit" value="">convert & download</button>
  </div>
</form>

{% endblock body %}
